.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Output files
bin/
obj/

# ROMS/DLLS
roms/
libgambatte.dll
SDL2.dll
